3to2==1.1.1
appier==1.16.2
certifi==2018.1.18
chardet==3.0.4
chatbot==1.5.2b0
chatbotAI==0.1.2.4
ChatterBot==0.8.5
chatterbot-corpus==1.1.2
decorate-url==1.1
Django==2.1.5
future==0.16.0
idna==2.6
mathparse==0.1.1
nltk==3.2.5
oauthlib==2.0.7
Pillow==8.2.0
product==0.1.1.1
PyJWT==1.6.1
pymongo==3.6.1
PySocks==1.6.8
python-dateutil==2.6.1
python-twitter==3.4.1
pytz==2018.4
PyYAML==3.13
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
SQLAlchemy==1.2.6
twilio==6.12.1
urllib3==1.22
win32compat==221.26
win32core==221.36
